:root {
  background-color: black;
  font-family: Inter;
  color: peachpuff;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 3px black;
  background-color: #a5a58d; 
  background-image: linear-gradient(120deg, #a5a58d, #343434, #1a472a);
  background-size: cover;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  padding: 0 50px 0 10px;
}
.scores {
  text-shadow: none;
  padding: 3px 20px 3px 5px;
}

.mainTitle {
  margin-top: 10px;
  color: white;
  font-size: 3rem;
  text-decoration: underline;
  letter-spacing: 1px;
  margin-right: auto;
}

ul {
  padding: 0;
  place-items: center;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  transition: transform ease-in 0.15s;
}

img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px 5px grey !important;
}

button {
  padding: 5px 50px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 8px white;
  transition: box-shadow 0.15s ease-in;
}

.difficulty:hover {
  box-shadow: none;
}

.rules{
  margin-left: 10px;
  color: #ddbc01;
  
}